@using Articulate
@using Umbraco.Core
@model Articulate.Models.PostModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article class="single-blog">

    @if (!Model.CroppedPostImageUrl.IsNullOrWhiteSpace())
    {
        <div class="post-thumb">
            <img src="@Model.CroppedPostImageUrl" alt="@Model.Name">
        </div>
    }

    <div class="post-content">
        <div class="entry-header text-center text-uppercase">
            <a href="#" class="post-cat">TODO - CATEGORY</a>
            <h2>@Model.Name</h2>
        </div>
        <div class="entry-content">
            @Model.Body
        </div>

        <div class="post-meta">
            <ul class="pull-left list-inline author-meta">
                <li class="date">  @Model.PublishedDate.ToString("dddd, MMMM dd, yyyy")</li>
            </ul>
            <ul class="pull-right list-inline social-share">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</article>